/*
body.fullscreen, body.fullscreen  #home .info {
       
    }
#about, #settings {
        padding: 100px 10px 40px;
        text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
        font-size: 13px;
        text-align: center;
        background: #161618;
    }
#about p, #settings p {
        margin-bottom: 8px;
    }
#about a, #settings a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
 
*/

ul li {
    color: #fff;
}

.movement_source, .movement_destination, .movement_artnr {
    text-align:center;
    font-size: 34px;
}
/*
.ua_quantity, ua_id {
    text-align:center;
    font-size: 13px;
}
.kasten {
    padding: 10px;
    margin:5px;
    font-size: 13px;
    background: #005500;
    
}
.storno {
    background-color:#880000;
}
*/